
<div class="row" style="margin-left:3px;">
    <div class="col-md-12" style="padding:0">
        <div class="alert alert-dismissible alert-success">
            <button style="color:white;margin-right:20px" class="close" type="button"  data-dismiss="alert">&times;</button>
            <h3 style="color:whitesmoke"><i class="fa fa-check" aria-hidden="true"></i> @ViewBag.msg</h3>
            <hr />
            <p>@ViewBag.Title</p>
        </div>
    </div>
</div>
