<?xml version="1.0"?>
<RequestConfig remoteOnly="false">
  <Status>
    <add name="DRAFT" displayName="DRAFT" value="1" view="Draft" />
    <add name="AO_CHECKING" displayName="AO Checking" value="2" view="Draft" />
    <add name="MAU_SCREENING" displayName="MAU SCREENING" value="3" view="Draft" />
    <add name="RE_SUBMITTED" displayName="RE-SUBMITTED" value="4" view="Draft" />
    <add name="FOR_APPROVAL_WITH_REQUIREMENTS" displayName="FOR APPROVAL WITH REQUIREMENTS" value="5" view="Draft" />
    <add name="APPROVED_WITH_REQUIREMENTS" displayName="APPROVED WITH REQUIREMENTS" value="6" view="Draft" />
    <add name="FOR_APPROVAL_WITH_EXCEPTIONS" displayName="FOR APPROVAL WITH EXCEPTIONS" value="7" view="Draft" />
    <add name="APPROVED_WITH_EXCEPTIONS" displayName="APPROVED WITH EXCEPTIONS" value="8" view="Draft" />
    <add name="FOR_APPROVAL1" displayName="FOR FIRST APPROVAL" value="9" view="Approval1" />
    <add name="FOR_APPROVAL2" displayName="FOR SECOND APPROVAL" value="10" view="Approval2" />
    <add name="APPROVED1" displayName="APPROVED" value="11" view="Draft" />
    <add name="APPROVED2" displayName="APPROVED" value="12" view="Draft" />
    <add name="FOR_CADENCIE_PROCESSING" displayName="FOR CADENCIE PROCESSING" value="13" view="Draft" />
    <add name="COMPLETED" displayName="COMPLETED" value="14" view="Draft" />
    <add name="CLOSED" displayName="CLOSED" value="15" view="Draft" />
    <add name="DELETED" displayName="DELETED" value="16" view="Draft" />
    <add name="RETURNED" displayName="RETURNED" value="17" view="Draft" />
    <add name="RETURNED_TO_MAU" displayName="RETURNED TO MAU" value="18" view="Draft" />
    <add name="DECLINED" displayName="DECLINED" value="19" view="Draft" />
    <add name="RETURNED_TO_AO" displayName="RETURNED TO AO" value="20" view="Draft" />
    <add name="FOR_POS_PROCESSING" displayName="FOR POS PROCESSING" value="21" view="Draft" />
    <add name="FOR_QC_REVIEW" displayName="FOR QUALITY CONTROL REVIEW" value="22" view="Draft" />
    <add name="PS_SERVICING" displayName="POS SERVICING" value="23" />
    <add name="MDCS_PROCESSING" displayName="MDCS PROCESSING" value="24" />
    <add name="RETURN_TO_MAKER" displayName="RETURN TO MAKER" value="25" view="Draft"  />
    <add name="FOR_APPROVAL" displayName="FOR APPROVAL" value="26" view="Approval" />
    <add name="APPROVED" displayName="APPROVED" value="27" view="APPROVED"  />
    
    <add name="MAU_ENCODING" displayName="MAU ENCODING" value="28" view="mau_encoding" />
    <add name="MAU_CHECKING" displayName="MAU CHECKING" value="29" view="mau_checking" />
    <add name="MQR_RETURN_TO_AO" displayName="RETURNED BY MQR" value="30" view="mqr_return" />
    <add name="MQR_FOR_APPROVAL" displayName="FOR MQR APPROVAL" value="31" view="mqr_for_approval" />
    <add name="MQR_COMPLETE" displayName="MQR COMPLETE" value="32" view="mqr_return" />
    <add name="MQR_SUBMITTED" displayName="SUBMITTED TO MQR" value="33" view="mqr_return" />
  </Status>
  <RequestType>
    <add name="NEW_AFFILIATION" displayName="NEW AFFILIATION" value="1" />
    <add name="BRANCH_AFFILIATION" displayName="BRANCH AFFILIATION" value="2" />
    <add name="TID_ISSUANCE_TAGGING" displayName="TID Issuance Tagging" value="3" />
    <add name="POS" displayName="POS Request" value="4" />
    <add name="FILE_MAINTENANCE" displayName="FILE MAINTENANCE" value="5" />
    <add name="ADDITIONAL_FACILITY" displayName="ADDITIONAL FACILITY" value="6" />
  </RequestType>
  <POSStatus>
    <add name="DRAFT" displayName="DRAFT" value="1" />
    <add name="INVENTORY_CHECKING" displayName="FOR INVENTORY CHECKING" value="2" />
    <add name="PS_PROFILING" displayName="FOR PS PROFILING" value="3" />
    <add name="PS_SERVICING" displayName="FOR COMPLETION" value="4" />
    <add name="COMPLETE" displayName="COMPLETED" value="5" />
  </POSStatus>
  <!--<POSRequestType>
      <add name="NEW_TERMINAL_INSTALLATION" displayName="New Terminal Installation" value="1" />
      <add name="PULL_OUT" displayName="Pull Out" value="2" />
      <add name="POS_SWAPPING" displayName="POS Swapping" value="3" />
      <add name="POS_REPROGRAMMING" displayName="POS Reprogramming" value="4" />
    </POSRequestType>-->
</RequestConfig>